name: DevelopBuild

on:
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Build
        run: |
          docker buildx build \
            --build-arg GIT_VERSION="${GIT_VERSION}" \
            --build-arg GIT_CRYPT_VERSION="${GIT_CRYPT_VERSION}" \
            --push \
            --platform linux/arm64/v8,linux/amd64 \
            -f amazonlinux.Dockerfile \
            -t truemark/git:amazonlinux-2-beta .
